<nav>
  <div class="nav-wrapper" style="padding-left: 5%;padding-right: 5%; background: #0cbf41;">
    <label class="brand-logo left" routerLink="/imagenes" style="height: 100%">
      <img src="assets/images/imagenico.png" style="height: 100%; cursor: pointer"></label>
    <label class="brand-logo center" routerLink="/" style="height: 100%">
      <img src="assets/images/logo_cocodrilo_fondotransparente.png" style="height: 100%; cursor: pointer"
           routerLink="/"></label>
    <label class="brand-logo right logout" (click)="logout()">Logout</label>
  </div>
</nav>

<div class="row">
  <div class="col s12">12 columnas</div>
  <div class="col s6">6-columnas</div>
  <div class="col s6">6-columnas</div>
</div>
