<nav>
  <div class="nav-wrapper" style="padding-left: 5%;padding-right: 5%; background: #0cbf41;">
    <label class="brand-logo center" routerLink="/" style="height: 100%">
      <img src="assets/images/logo_cocodrilo_fondotransparente.png" style="height: 100%; cursor: pointer"></label>
    <label class="brand-logo ">Evento</label>
    <label class="brand-logo right logout" (click)="logout()">Logout</label>
  </div>
</nav>
<div class="container">
  <div class="card" style="padding: 30px">
    <form #actForm="ngForm">
      <div class="input-field input-div">
        <input id="nombre_restaurante" type="text" name="nombre" [(ngModel)]="ngModel.nombre">
        <label id="label1" for="nombre_restaurante" class="text-input">Nombre restaurante</label>
      </div>
      <div class="input-field input-div">
        <input type="text" id="time-inicio" class="timepicker" name="horainicio" readonly #horaInicio
               (change)="horaIniciov = horaInicio.value">
        <label id="label2" for="time-inicio" class="text-input">Hora apertura</label>
      </div>
      <div class="input-field input-div">
        <input type="text" id="time-fin" class="timepicker" name="horafin" readonly #horaFin
               (change)="horaFinv = horaFin.value">
        <label id="label3" for="time-fin" class="text-input">Hora cierre</label>
      </div>
      <div class="input-field input-div">
        <input id="localizacion" type="text" name="localizacion" [(ngModel)]="ngModel.localizacion" maxlength="20">
        <label id="label4" for="localizacion" class="text-input">Descripción breve de la ubicación (max 20)</label>
      </div>
      <div class="col s6 row" style="padding: 0px !important;">
        <input type="text" class="form-control col s8" id="url_img" placeholder="Imágenes" aria-label="Url imagen"
               #imagen maxlength="25"><div class="col s1"></div>
        <button class="btn btn-outline-secondary col s3" type="button" (click)="addImagen(imagen)">Añadir</button>
      </div>
      <div class="row" style="margin-top: 50px">
        <div class="col s1"></div>
        <a class="waves-effect waves-light btn-large col s5 m4" routerLink="/">Cancelar</a>
        <div class="col s1 m2"></div>
        <button class="waves-effect waves-light btn-large col s5 m4" type="button" (click)="guardarRestaurante(actForm)">
          Guardar
        </button>
        <div class="col s1"></div>
      </div>
    </form>
  </div>
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Guardando restaurante</h4>
      <p>{{alertBody}}</p>
      <progress id="img-upload-bar" value="0" max="100" style="width: 100%; margin: 10px 0;"></progress>
    </div>
  </div>
</div>
