<nav>
  <div class="nav-wrapper" style="padding-left: 5%;padding-right: 5%; background: #0cbf41;">
<!--    <label class="brand-logo left" routerLink="/imagenes" style="height: 100%">-->
<!--      <img src="assets/images/imagenico.png" style="height: 100%; cursor: pointer"></label>-->
    <label class="brand-logo center" routerLink="/" style="height: 100%">
      <img src="assets/images/logo_cocodrilo_fondotransparente.png" style="height: 100%; cursor: pointer"
           routerLink="/"></label>
    <label class="brand-logo right logout" (click)="logout()">Logout</label>
  </div>
</nav>
<div class="container">
  <div class="card" style="padding: 30px">
    <form #actForm="ngForm">
      <div class="input-field input-div">
        <input id="nombre_restaurante" type="text" name="nombre" [(ngModel)]="ngModel.nombre">
        <label id="label1" for="nombre_restaurante" class="text-input">Nombre restaurante</label>
      </div>
      <div class="input-field input-div">
        <input type="text" id="time-inicio" class="timepicker" name="horainicio" readonly #horaInicio
               (change)="horaIniciov = horaInicio.value">
        <label id="label2" for="time-inicio" class="text-input">Hora apertura</label>
      </div>
      <div class="input-field input-div">
        <input type="text" id="time-fin" class="timepicker" name="horafin" readonly #horaFin
               (change)="horaFinv = horaFin.value">
        <label id="label3" for="time-fin" class="text-input">Hora cierre</label>
      </div>
      <div class="row valign-wrapper">
        <div class="col s6" style="padding: 0px">
          <label class="text-input">Imagen del restaurante</label>
          <div class="file-field input-field" style="margin-top: 15px">
            <div class="btn">
              <span>File</span>
              <input type="file" accept=".png, .jpg, .jpeg" (change)="onSelectFile($event, 1)">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" accept=".png, .jpg, .jpeg" placeholder="Max 2Mb, jpg, jpeg, png" type="text">
            </div>
          </div>
        </div>
        <div class="col s6">
          <img [src]="img1" style="max-width: 100%">
        </div>
      </div>
      <label class="text-input">Imagenes de la carta</label>
      <div class="file-field input-field" style="margin-top: 15px">
        <div class="btn">
          <span>Añadir imagenes</span>
          <input type="file" accept=".png, .jpg, .jpeg" (change)="onSelectFile($event, 2)">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" accept=".png, .jpg, .jpeg" placeholder="Max 2Mb, jpg, jpeg, png" type="text">
        </div>
      </div>
      <div class="row">
        <div class="col s3 no-padding" *ngFor="let i of images" style="margin:0px 10px">
          <a [href]="i.url" target="_blank">
            <img [src]="i.url" style="width: 100%; height: 100%;"/>
          </a>
          <div class="row" style="margin: 0px !important; padding: 0px !important;">
            <div class="col s3 center-align no-padding">
              <img src="assets/images/firstback.png" alt="" style="cursor: pointer; width: 100%; max-width: 25px" (click)="orderimg(0,i.id)">
            </div>
            <div class="col s3 center-align no-padding">
              <img src="assets/images/back.png" alt="" style="cursor: pointer; width: 100%; max-width: 25px" (click)="orderimg(1,i.id)">
            </div>
            <div class="col s3 center-align no-padding">
              <img src="assets/images/forward.png" alt="" style="cursor: pointer; width: 100%; max-width: 25px" (click)="orderimg(2,i.id)">
            </div>
            <div class="col s3 center-align no-padding">
              <img src="assets/images/delete.png" alt="" style="cursor: pointer; width: 100%; max-width: 25px;" (click)="deletemodalimg(i)">
            </div>
          </div>
        </div>
      </div>
      <div class="row valign-wrapper">
        <div class="col s6" style="padding: 0px;">
          <label class="text-input">Imagen de la ubicación</label>
          <div class="file-field input-field" style="margin-top: 15px">
            <div class="btn">
              <span>File</span>
              <input type="file" accept=".png, .jpg, .jpeg" (change)="onSelectFile($event, 3)">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" accept=".png, .jpg, .jpeg" placeholder="Max 2Mb, jpg, jpeg, png" type="text">
            </div>
          </div>
        </div>
        <div class="col s6">
          <img [src]="img3" style="max-width: 100%">
        </div>
      </div>
      <div class="input-field input-div" style="margin-top: 15px">
        <input id="localizacion" type="text" name="localizacion" [(ngModel)]="ngModel.localizacion" maxlength="20">
        <label id="label4" for="localizacion" class="text-input">Descripción breve de la ubicación (max 20)</label>
      </div>
      <div class="row" style="margin-top: 50px">
        <div class="col s1"></div>
        <a class="waves-effect waves-light btn-large col s5 m4" routerLink="/">Cancelar</a>
        <div class="col s1 m2"></div>
        <button class="waves-effect waves-light btn-large col s5 m4" type="button" (click)="guardarRestaurante(actForm)">
          Guardar
        </button>
        <div class="col s1"></div>
      </div>
    </form>
  </div>
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Guardando imagenes</h4>
      <p>{{alertBody}}</p>
      <progress id="img-upload-bar" value="0" max="100" style="width: 100%; margin: 10px 0;"></progress>
    </div>
  </div>
  <div id="eliminarmodal" class="modal">
    <div class="modal-content">
      <h4>Quieres eliminar esta imagen?</h4>
      <div class="center-align">
        <img [src]="imgdelete" style="height: 200px;"/>
      </div>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
      <a class="modal-action modal-close waves-effect waves-red btn-flat" (click)="deleteimg()">Eliminar</a>
    </div>
  </div>
</div>
