<nav>
  <div class="nav-wrapper" style="padding-left: 5%;padding-right: 5%;">
    <label class="brand-logo">Evento</label>
  </div>
</nav>
<div class="container">
  <div class="card" style="padding: 20px">
    <form>
      <div class="input-field" style="width: 50% !important;">
        <input id="nombre_actuacion" type="text" class="validate">
        <label for="nombre_actuacion" style="font-size: 1.5em">Nombre actuación</label>
      </div>
      <div class="input-field">
        <input type="text" id="time" class="timepicker">
        <label for="time">Tiempo inicio</label>
      </div>
      <input type="text" class="datepicker">
    </form>
  </div>
</div>
<script>
    $(document).ready(function(){
        $('.datepicker').datepicker();
    });
</script>
