<nav>
  <div class="nav-wrapper" style="padding-left: 5%;padding-right: 5%;">
    <label class="brand-logo">Evento</label>
  </div>
</nav>

<div class="container">
  <div class="card" style="padding: 20px">
    <h5>Actuaciones</h5>
    <div class="responsive-table table-status-sheet" style="margin: 30px">
      <table class="bordered centered" style="text-indent: 1em;">
        <thead>
        <tr>
          <th class="">Nombre</th>
          <th class="">Horarios</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>catergory1</td>
        </tr>
        <tr>
          <td>1</td>
          <td>catergory1</td>
        </tr>
        <tr>
          <td>1</td>
          <td>catergory1</td>
        </tr>
        <tr>
          <td>1</td>
          <td>catergory1</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
