<nav>
  <div class="nav-wrapper" style="padding-left: 5%;padding-right: 5%; background: #0cbf41;">
    <label class="brand-logo center" routerLink="/" style="height: 100%">
      <img src="assets/logo_cocodrilo_fondotransparente.png"  style="height: 100%; cursor: pointer" routerLink="/"></label>
    <label class="brand-logo ">Evento</label>
    <label class="brand-logo right">Evento</label>
  </div>
</nav>
<div class="container">
  <div class="card" style="padding: 20px">
    <h5>Actuaciones</h5>
    <div class="responsive-table table-status-sheet" style="margin: 30px">
      <table class="bordered centered striped" style="text-indent: 1em;">
        <thead>
        <tr>
          <th>Actuacion</th>
          <th style="border-left: 1px solid #6a6a6a;">Horarios</th>
          <th style="border-left: 1px solid #6a6a6a;width: 120px">
            <img src="assets/images/add.png" style="cursor: pointer;" routerLink="/actuacion">
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let a of actuaciones">
          <td>{{a.nombre}}</td>
          <td>{{a.horario}}</td>
          <td [ngStyle]="{'width': actuaciones.length>=3 ? 'calc(120px - 0.2em)' : '133px'}">
            <div>
              <img src="assets/images/edit.png" alt="" routerLink="/actuacion/{{a._id}}" style="cursor: pointer; margin-right: 5px">
              <img src="assets/images/delete.png" (click)="confirmdelete(a._id, a.nombre, false)" style="margin-left: 5px; cursor: pointer">
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <h5>Talleres</h5>
    <div class="responsive-table table-status-sheet" style="margin: 30px">
      <table class="bordered centered striped highlight" style="text-indent: 1em;">
        <thead>
        <tr>
          <th class="">Taller</th>
          <th class="">Horarios</th>
          <th style="border-left: 1px solid #6a6a6a;width: 120px">
          <img src="assets/images/add.png" style="cursor: pointer;" routerLink="/taller">
        </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let t of talleres">
          <td>{{t.nombre}}</td>
          <td>{{t.horario}}</td>
          <td [ngStyle]="{'width': talleres.length>=3 ? 'calc(120px - 0.2em)' : '133px'}">
            <div>
              <img src="assets/images/edit.png" alt="" routerLink="/taller/{{t._id}}" style="cursor: pointer; margin-right: 5px">
              <img src="assets/images/delete.png" (click)="confirmdelete(t._id, t.nombre, false)" style="margin-left: 5px; cursor: pointer">
            </div>
          </td>
        </tbody>
      </table>
    </div>
    <h5>Imagen mapa</h5>
    <div class="file-field input-field" style="margin-top: 15px">
      <div class="btn">
        <span>File</span>
        <input type="file" accept="image/*" (change)="onSelectFile($event)">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" accept="image/*" type="text">
      </div>
    </div>
    <div class="center-align">
      <img [src]="img"
           style="max-width: 50%; align-self: center">
    </div>
    <div class="right-align" style="border: 20px">
      <div class="btn" style=" font-size: 1.1em" (click)="guardarCambios()">
        <span>Guardar imagen</span>
      </div>
    </div>
    <h5>FAQs</h5>
    <div class="responsive-table table-status-sheet" style="margin: 30px">
      <table class="bordered centered striped" style="text-indent: 1em;">
        <thead>
        <tr>
          <th>Actuacion</th>
          <th style="border-left: 1px solid #6a6a6a;width: 120px">
          <img src="assets/images/add.png" style="cursor: pointer;" (click)="addFAQ()">
        </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let f of faqs">
          <td>{{f.question}}</td>
          <td [ngStyle]="{'width': faqs.length>=3 ? 'calc(120px - 0.2em)' : '133px'}">
            <div>
              <img src="assets/images/edit.png" style="cursor: pointer;margin-right: 5px" (click)="editFAQ(f._id, question, answer)">
              <img src="assets/images/delete.png" (click)="deleteFAQ(f._id)" style="margin-left: 5px; cursor: pointer">
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>{{alertHead}}</h4>
      <p>{{alertbody}}</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat" (click)="delete()">Eliminar</a>
    </div>
  </div>
  <div id="modal2" class="modal">
    <div class="modal-content">
      <h4>Guardando mapa</h4>
      <progress id="img-upload-bar" value="0" max="100" style="width: 100%; margin: 10px 0;"></progress>
    </div>
  </div>
  <div id="modalFAQs" class="modal">
    <div class="modal-content">
      <h4>FAQ</h4>
      <div class="input-field input-div" style="margin: 15px">
        <textarea type="text" id="question" class="materialize-textarea" name="question" #question></textarea>
        <label id="questionlbl" for="question" class="text-input">Pregunta</label>
      </div>
      <div class="input-field input-div" style="margin: 15px">
        <textarea type="text" id="answer" class="materialize-textarea" name="answer" #answer></textarea>
        <label id="answerlbl" for="answer" class="text-input">Respuesta</label>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat" (click)="question.value = ''; answer.value = ''">Cancelar</a>
        <a class="modal-action waves-effect waves-green btn-flat" (click)="guardarFAQs(question, answer)">Guardar</a>
      </div>
    </div>
  </div>
</div>
