html,
body {
  height: 100%;
}
html {
  display: table;
  margin: auto;
}
body {
  display: table-cell;
  vertical-align: middle;
  background: #4ECDC4;
}

#login-page {
  width: 500px;
}

.card {
  /*      position: absolute;
       left: 50%;
       top: 50%;
       -moz-transform: translate(-50%, -50%)
       -webkit-transform: translate(-50%, -50%)
       -ms-transform: translate(-50%, -50%)
       -o-transform: translate(-50%, -50%)
       transform: translate(-50%, -50%); */
}

.container {
  height: 200px;
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.iniciar{
  color: #ee6e73;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
