<nav>
  <div class="nav-wrapper" style="padding-left: 5%;padding-right: 5%;">
    <label class="brand-logo">Evento</label>
  </div>
</nav>
<div class="container">
  <div class="card" style="padding: 30px">
    <form #actForm="ngForm">
      <div class="input-field input-div">
        <input id="nombre_taller" type="text" name="nombre" [(ngModel)]="ngModel.nombre">
        <label id="label1" for="nombre_taller" class="text-input">Nombre taller</label>
      </div>
      <div class="input-field input-div">
        <input type="text" id="time-inicio" class="timepicker" name="horainicio" readonly #horaInicio
               (change)="horaIniciov = horaInicio.value">
        <label id="label2" for="time-inicio" class="text-input">Hora inicio</label>
      </div>
      <div class="input-field input-div">
        <input type="text" id="time-fin" class="timepicker" name="horafin" readonly #horaFin
               (change)="horaFinv = horaFin.value">
        <label id="label3" for="time-fin" class="text-input">Hora fin</label>
      </div>
      <div class="input-field input-div">
        <textarea type="text" id="descripcion" class="materialize-textarea" name="descripcion"
                  [(ngModel)]="ngModel.descripcion"></textarea>
        <label id="label4" for="descripcion" class="text-input">Descripción</label>
      </div>
      <div class="row valign-wrapper">
        <div class="col s6">
          <label class="text-input">Imagen del taller</label>
          <div class="file-field input-field" style="margin-top: 15px">
            <div class="btn">
              <span>File</span>
              <input type="file" accept="image/*" (change)="onSelectFile($event, 1)">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" accept="image/*" type="text">
            </div>
          </div>
        </div>
        <div class="col s6">
          <img [src]="img"
               style="max-width: 100%">
        </div>
      </div>
      <div class="row valign-wrapper">
        <div class="col s6">
          <label class="text-input">Imagen de la ubicación del taller</label>
          <div class="file-field input-field" style="margin-top: 15px">
            <div class="btn">
              <span>File</span>
              <input type="file" accept="image/*" (change)="onSelectFile($event, 2)">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" accept="image/*" type="text">
            </div>
          </div>
        </div>
        <div class="col s6">
          <img [src]="img2"
               style="max-width: 100%">
        </div>
      </div>
      <div class="row" style="margin-top: 50px">
        <div class="col s1"></div>
        <a class="waves-effect waves-light btn-large col s5 m4" routerLink="/">Cancelar</a>
        <div class="col s1 m2"></div>
        <button class="waves-effect waves-light btn-large col s5 m4" type="button" (click)="guardarTaller(actForm)">
          Guardar
        </button>
        <div class="col s1"></div>
      </div>
    </form>
  </div>
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Guardando taller</h4>
      <p>{{alertBody}}</p>
      <progress id="img-upload-bar" value="0" max="100" style="width: 100%; margin: 10px 0;"></progress>
    </div>
  </div>
</div>
