.input-div{
  width: 50% !important;
  margin-bottom: 25px;
}
.text-input{
  font-size: 1.5em;
}
.logout {
  font-size: 25px;
  margin-right: 10px;
}
.logout:hover {
  cursor: pointer;
  color: lightgray;
}
